.skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: skeleton-loading 1.2s ease-in-out infinite;
    border-radius: 4px;
}

@keyframes skeleton-loading {
    to {
        background-position: right -40px top 0;
    }
}

.skeleton-text {
    height: 1rem;
    margin-bottom: 0.5rem;
}

.skeleton-rect {
    height: 100px;
    width: 100%;
}

.skeleton-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}